<form name="deleteForm" ng-submit="vm.confirmDelete(vm.cassetta.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <p translate="italgaslabApp.cassetta.delete.question" translate-values="{id: '{{vm.cassetta.id}}'}">Are you sure you want to delete this Cassetta?</p> -->
        <h2 class="bg-danger text-center">
            ATTENZIONE!!!
        </h2>
        <p class="text-danger">
            Eliminando la cassetta verranno DEFINITIVAMENTE eliminati TUTTI i <strong>campioni e le pesate</strong> collegate.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
