<div class="bootstrap-dialog bootstrap-dialog-danger">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Conferma operazione</h4>
    </div>
    <div class="modal-body">
        <p bootstrap-dialog-message>{{vm.msg}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Annulla</span>
    </button>
        <button type="button" class="btn btn-danger" ng-click="vm.ok()">
        <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>OK</span>
    </button>
    </div>
</div>
